{% extends 'base.html' %}

{% block content %}
  <h2>Login</h2>

  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Login</button>
  </form>

  <br>
  <p><strong>-- OR --</strong></p>

  <a class="btn btn-block btn-social btn-google" href="{% url 'social:begin' 'google-oauth2' %}">
     <span class="fa fa-google"></span> Sign in with Google
   </a>

       <a class="btn btn-block btn-social btn-github" href="{% url 'social:begin' 'github' %}" >
            <span class="fa fa-github"></span> Sign in with GitHub
       </a>
{% endblock %}
