{% extends "base.html" %}
{% load bleach_tags %}
{% load el_pagination_tags %}

{% block content %}
<h2>Posts</h2>
<div class="row">
  <div class="col-sm-8 blog-main">
    {% paginate object_list %}
    {% for post in object_list %}
    <div>
        <h2>{{ post.title }}<span class="badge badge-light">Light</span></h2>
          <p>{{ post.content|bleach }}</p>
          <hr>
    </div>        
        {% endfor %}
    </ul>
   </div>

    {% include 'fd/sidebar.html' %}

</div>


{% endblock %}
