{% load fontawesome %}
<div class="col-sm-3 offset-sm-1 blog-sidebar bg-faded">
  <div class="sidebar-module sidebar-module-inset">
    <br>
  </div>
  <ul class="list-unstyled">
    {% if tag_view %}
    <li><a href="{% url 'tags' request.user.username tag_view %}">Overview (Topics)</a></li>
    <li><a href="{% url 'tags_detailed' request.user.username tag_view %}">Detailed view</a></li>
    {% else %}
    <li><a href="{% url 'topics_view' %}">Overview (Topics)</a></li>
    <li><a href="{% url 'detailed_list' %}">Detailed view</a></li>
    {% endif %}
    
    {% if user.is_authenticated %} <!-- and is page owner -->
    <li><br></li>
    <li><a href="{% url 'profile' %}">Profile</a></li>
    <li><a href="{% url 'source_list' %}">Edit feeds</a></li>
    

    <li><a href="{% url 'logout' %}?next=/">Logout</a></li>
    {% else %}
    <li><a href="{% url 'login' %}?next={{ request.path }}">Login</a></li>
    {% endif %}

  </ul>
  <form id="searchform" action="{% url 'search' %}" method="get" accept-charset="utf-8">
    <input class="form-control" type="search" placeholder="Search..." id="search-input" name='q'>
  </form>

  {% if tag_list %}
  <div class="list-group" id="tag-list">
    <h4>Tags</h4>
    {% for tag in tag_list %}
     <a href="{% url 'tags' request.user.username tag %}" class="list-group-item {% if tag_view == tag %} active {% endif %}">{{tag}}</a>
    {% endfor %}
  </div>
  {% endif %}

  {% if sources_list %}
  <ul class="list-unstyled">
    <h4>Sources</h4>
    {% for source in sources_list %}
    <li>{{ source }} <a href="{{ source.url }}">{% fontawesome_icon 'rss-square' %}</a></li>
    {% endfor %}
  </ul>
  {% endif %}

  <ul class="list-unstyled">
    <h4>Subscribe</h4>
    <li>
      <form action="/profile/" method="POST">
        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button btn-danger"
                data-key="pk_live_2YQdqgsd3JtquaX12gBIsj4O"
                data-amount="1200"
                data-name="Fedry Reader"
                data-description="Fedry Reader annual subscription"
                bitcoin="true"
                data-email="{{ user.email }}"
                data-label="Pay with card"   
                data-panel-label="Subscribe for {% templatetag openvariable %}amount{% templatetag closevariable %}/yr."
                data-locale="auto">
        </script>
      </form>
    </li>
  </ul>
  
</div>

