{% extends "base.html" %}

{% block content %}
<h1>Subscribe</h1>
<form action="" method="POST">
    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button btn-danger"
         data-key="pk_test_dZCQLCB9Cn1RlBM63vuy3GFg"
         data-amount="1200"
         data-name="Fedry Reader"
         data-description="Fedry Reader annual subscription"
         bitcoin="true"
         data-email="{{ user.email }}"
         data-label="Pay with card"   
         data-panel-label="Subscribe for {% templatetag openvariable %}amount{% templatetag closevariable %} /yr."
         data-locale="auto">
       </script>
</form>

{% endblock %}
