{% extends "base.html" %}

{% block content %}
<div class="row row-offcanvas row-offcanvas-right">
  <div class="row">
    <h2>Posts: Overview</h2>
    <ul>
        {% for post in object_list %}
        <li><h3>{{ post.title }}</h3>
        </li>
        
        {% endfor %}
    </ul>
</div>
    {% if tag_list %}
    <div class="col-6 col-md-3 sidebar-offcanvas" id="sidebar">
      <div class="list-group">
        {% for tag in tag_list %}
        <a href="{% url 'tags' tag %}" class="list-group-item">{{tag}}</a>
        {% endfor %}
      </div>
      {% endif %}
    </div>
    
{% endblock %}
